body {
    font-family: 'Arial', sans-serif;
    
    width: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 1350px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #333;
    font-size: 40px;
}
h2{
    color: #333;
}
p {
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

pre {
    background-color: #f4f4f4;
    padding: 0px;
    border: 1px solid #ddd;
    overflow-x: auto;
    border-radius: 5px;
}

code {
    color: black;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
