body {
    font-family: Arial, sans-serif;

    width: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.content {
    max-width: 1350px;
    margin: 20px auto;
    line-height: 1.6;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 40px;
}
ol {
    margin-bottom: 20px;
}

ol li {
    margin-bottom: 10px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
